* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-image: url('./../space_left2.png');
}

canvas { 
  width: 100% !important;
  height: 100% !important
}

#galaxy-frame {
  width: 100%;
  height: 100%;
}


